{% block _student_images_widget %}
    <p>Ici, vous pouvez ajouter vos propres images !</p>

    {{ form_widget(form) }}

    <input type="hidden" id="widgets_counter" value="0">

    <div class="form-group pt-2">
        <button type="button" id="add-image" class="btn btn-primary">Ajouter une
            image
        </button>
    </div>
{% endblock %}

{# je n'affiche que la row #}
{% block _student_images_entry_row %}
    {{ form_widget(form) }}
{% endblock %}


{# défini le mode d'affichage des colonnes sur une même ligne #}
{% block _student_images_entry_widget %}
<div class="form-group pt-1" id="block_{{id}}">
    <div class="row">
        <div class="col-10">
            <div class="row">
                <div class="col">
                    {{ form_widget(form.url) }}
                    {{ form_errors(form.url) }}
                </div>
                <div class="col">
                    {{ form_widget(form.caption) }}
                    {{ form_errors(form.caption) }}
                </div>
            </div>
        </div>
        <div class="col-2">
            <button type="button" data-action="delete" data-target="#block_{{id}}" class="btn btn-danger">X</button>
        </div>
    </div>
</div>
{% endblock %}